/* Mobile Layout */
.Participant {
    width: 100%;
    margin: auto;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    height: 250px;
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Participant {
        width: 700px;
        height: 600px;
    }
}

@media (min-width: 1000px) and (min-height: 401px) {
    .Participant {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .Participant {
        width: 350px;
        height: 300px;
    }
}