.column {
   width: 100px;
}

.header {
    text-align: center;
}

.email {
    display: flex;
    overflow-x: scroll;
    overflow: hidden;
}

.link:hover{
    text-decoration: none;
}

.link {
    color: black;
}