/* .fixedHeight {
    height: 40vh;
    width: 200vw;
    display: 'flex';
    overflow: 'auto';
    flex-direction: 'column';
  }


.content {
  flex-grow: 1;
  height: '100vh';
  overflow: 'auto';
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
} */

/* .container {
    min-height: 100vh;
} */

/* .sidebar {
    grid-area: "sidebar";
}

.main {
    grid-area: "main";
} */