.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: white;
    padding: 1px 14px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.container {
    display: inline;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    height: 100%;
    font-size: 16px;
    font-weight: 800;
    margin: 10px 0;
}
.container a {
    text-decoration: none;
    color: #0c5b95;
    margin-left: 30px;
}
.item {
    padding: 5px;
    display: block;
}


@media (min-width: 600px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 15%;
    margin-bottom: 0px;
}