.SidebarItems {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    padding-top: 18px;
}

.SidebarItems a {
    text-decoration: none;
    color: #0c5b95;
    width: 100%;
    box-sizing: border-box;
}


/* On screens that are less than 700px wide */
@media screen and (max-width: 700px) {
    .SidebarItems {
      height: auto;
      position: relative;
      width: 180px;
    }
}

@media (max-width: 1000px) {
    .SidebarItems {
        font-size: 16px;
    }
}