.sidebar {
    background-color: rgb(249, 249, 250);
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;  
    width: 210px;
    min-height: 150vh; 
    box-shadow: 2px 2px 3px 2px #dddbdb;
}


/* .button {
    padding: 10px;
    background-color: white;
    border-radius: 25%;
} */


@media (max-width: 700px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 1000px) {
    .sidebar {
        width: 180px;
    }
}