.candidates {
    background-color: aqua;
    height: 30rem;
}
.sla {
    background-color: pink;
    height: 30rem;
}
.stage {
    background-color: gray;
    height: 30rem;
}

.email {
    background-color: green;
    height: 30rem;
}

.firstThreeLines {
    height: 2em;
}