.NavigationItems {
    margin: 0;
    padding: 5px;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    font-size: 16px;
    font-weight: 800;
}
@media (max-width: 650px) {
    .NavigationItems {
        font-size: 14px;
    }
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
        margin-top: 0%;
    }
}
